
/* Yep this is style */
body {
	background-color: pink;
}
table{
	width: 100%;
}
select{
	width: 100%;
}
form{
	display: inline-block;
}
h1{
	text-align: center;
}
#avatar{
	display: inline-block;
}
#avatar_image{
	vertical-align: bottom;
	padding-left: 200px;
	height: 200px;
}
