
Group  project  requirements
Minimum  requirements:
1.Five  page  site
2.Must  be  accessible
3.Must  include  at  least  two  unique  features  that  we  did  not  perform  in  class.
4.No  typos,  grammatical  errors,  etc.
5.A  working  form.
6.Templates

If  you  completethese  five  points  you  will  get  an  80%.    Your  group  will  
receive  5  minutesto  present  your  work  and  convince  everyone  to  rate  you  highly.

The  rest  of  your  grade 80 – 100  
will  depend  upon  how  highly  your  classmates  rate  your  
work.
